<!-- <html>
<head>
	<title>Barbara's	blog</title>
</head>

<body>
	<p>Hi	there!</p>
	<p>It	works!</p>
	<p>You go girl!</p>
</body>
</html> -->

<html>
	<head>
		<title>Django	Girls	blog</title>
	</head>
	<body>
		<div>
			<h1><a	href="/">My Django	Girls Experience</a></h1>
		</div>

		<div>
			<p>Published: 8.07.2019 by Barbara Aboagye</p>

			<h2><a	href="">My first post</a></h2>
			<p>When I got a congratulations email to attend Django girls, I turnt up the music did a twirl and ended with my favorite alarm shake dance. Shh!! That’s the only dance I can do. Django girls was a 2 day workshop organized under PyconAfrica 2019, to educate females on the use of Django/Python. The event was scheduled for 6th -7th August 2019 at the Bank of Ghana Auditorium, University of Ghana</p>

		</div>

		<div>
			<p>As an Engineering student, I used python a few times for numerical simulations but never heard of Django. I was even surprised that websites could be created using Python/Django framework. </p>

			<p>Finally, the D-day arrived, I woke up early, looked beautiful and headed out to the Bank of Ghana auditorium at the University of Ghana.  I was disappointed when I arrived. Per the schedule received registration should have been ongoing when I arrived. However, after some few minutes the organizers apologized and updated us on the issue at hand.</p>
			<p>We had breakfast and started registration. Girl! did I tell you breakfast was good? Eva had the floor to explain to us what computer programming was as well as the power of python/Django: Google Chrome, Spotify, uber , reddit , Facebook , Netflix etc after breakfast. Her energy was so contagious that I was excited to start. Eva also threw more light on the process in computer programming: define the problem, plan the solution, coding, testing and documentation. Unfortunately, Eva said most people forget the documentation part which is also as critical as the coding part. Facilitators and mentors also introduced themselves.</p>
			<p>Once Eva was done, we broke into our groups for the real fun to start “Django”. Guess what? Yass! You are right! Eva was my mentor.  Each mentor had 3 amazing girls to coach. The coaches helped the participants to install all the necessities for the workshop: python, git ,text editors and signed up for accounts at GitHub and python anywhere.</p>
			<p>Once all the necessary installation was done, we all started the journey to create our first blog using Django & python with the help of the DJANGO TUTORIAL PDF and our awesome coaches. The first day was all about installation, understanding how to use the command prompt and an introduction to python programming. And the meals were really tasty. Did I tell you, we were given cupcakes?  </p>
			<p>Day 2 started on a serious note, everyone was focused and wanted to deploy their first website. We started using the Django framework on this day. There were mixed emotions in the room. Some participants could follow the tutorial and were moving quickly, others not too much but our heroes (coaches) stepped in and did an amazing job to get everyone on the same level playing field. The look on our faces when our websites went live was priceless. During the day each participant also had some headshot pictures.
 </p>
			<p>My time at Django girls/PyconAfrica19 was amazing and very educative. The atmosphere was contagious, the organizers did an excellent job and the food was delicious. Finally, I can scream that I  used the Django Framework to create a website. Whoosh!! If you missed this year , do make it a point to be present for next year. Django girls – Programming with cupcakes. 😊 . </p>
			<p>My take home from Django girls : As a programmer errors are very important , they show you the way. Google about it. Even if you have to do it all the time. It’s okay to get angry , to feel stupid. Soon you will be laughing about it. We are all here to learn.  </p>
			
			
			<p>Wish me all the best as I continue my journey with DJANGO. </p>
		</div>
	</body>
</html>